<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="1000"/>
    <globalization enableClientBasedCulture="true"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <remove value="iisstart.htm"/>
        <add value="signin.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>